<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta - Proyecto integrador</title>
</head>
<body>
    <header class="main-header">
        <input type="checkbox" id="menu">
        <nav class="nav-bar">
          <ul class="nav-bar__nav-list">
            <li class="nav-bar__nav-item">
              <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/alta.html" class="nav-bar__nav-link">Alta</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/contacto.html" class="nav-bar__nav-link">Contacto</a>
            </li>
          </ul>
        </nav>
  
         <header class="search-bar">
          <div class="search-bar__logo-container">
            <img src="/img/Qui-videt-logo.png" alt="Qui Videt logo" class="search-bar__logo">
          </div>
          <form action="#" class="search-bar__form-container">
            <label for="busqueda" class="search-bar__form-label">Buscar</label>
            <input type="search" class="search-bar__form-search" id="busqueda">
            <input type="submit" class="search-bar__form-submit" value="Buscar">
          </form>
          <div class="search-bar__carrito-container">
            <a href="views/carrito.html">
              <img src="/img/svg-icons/cart.svg" alt="carrito de compras" class="search-bar__carrito-container__icon">
            </a>          </div>
          <div class="menu-toogle">
            <label for="menu" class="menu-toogle__label">
              <span class="menu-toogle__top-bread"></span>
              <span class="menu-toogle__meat"></span>
              <span class="menu-toogle__bottom-bread"></span>
            </label>
          </div>
        </header>
        <h1>Alta Proyecto Integrador</h1>
        <footer class="footer">
          <div class="footer__contenedor">
            <h2 class="footer__contenedor__h2">Siguenos en nuestras redes</h2>
            <a href="https://www.instagram.com/tomas_marcos_2019/"><img src="/public/img/svg-icons/ig.svg" alt="Instagram icono" class="footer__iconos footer__iconos__1"></a>
            <a href="https://www.facebook.com/profile.php?id=61553549864608"><img src="/public/img/svg-icons/facebook.svg" alt="Facebook icono" class="footer__iconos footer__iconos__2"></a>
            <a href="https://www.linkedin.com/in/tom%C3%A1s-marcos-1a7107257/"><img src="/public/img/svg-icons/linkedin.svg" alt="Linkedin icono" class="footer__iconos footer__iconos__3"></a>
            <hr class="footer__contenedor__hr">
            <div class="footer__contenedor__acerca-de">
              <p class="footer__contenedor__acerca-de__a">Acerca de:</p>
              <a href="https://www.infobae.com/realidad-aumentada/2024/04/01/la-vida-en-marte-sera-posible-un-descubrimiento-abre-la-esperanza-y-esconde-un-enigma/" class="footer__contenedor__acerca-de__a">Vida en Marte</a>
              <a href="https://www.infobae.com/salud/ciencia/2019/05/30/la-nasa-hallo-en-pluton-un-elemento-clave-para-que-haya-vida-extraterrestre/" class="footer__contenedor__acerca-de__a">Vida en Pluto</a>
            </div>
          </div>
        </footer>
        <script type="module" src="/main.js"></script>
</body>
</html>