<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Proyecto integrador</title>
  </head>
<body class="body-contacto">
    <header class="main-header">
        <input type="checkbox" id="menu">
        <nav class="nav-bar">
          <ul class="nav-bar__nav-list">
            <li class="nav-bar__nav-item">
              <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/alta.html" class="nav-bar__nav-link">Alta</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/contacto.html" class="nav-bar__nav-link">Contacto</a>
            </li>
          </ul>
        </nav>
  
         <div class="search-bar">
          <div class="search-bar__logo-container">
            <img src="/img/Qui-videt-logo.png" alt="Qui Videt logo" class="search-bar__logo">
          </div>
          <form action="#" class="search-bar__form-container">
            <input type="search" class="search-bar__form-search" id="busqueda" placeholder="Buscá tus productos aquí">
            <input type="submit" class="search-bar__form-submit" value="">
          </form>
          <div class="search-bar__carrito-container">
            <a href="carrito.html">
              <img src="/img/svg-icons/cart.svg" alt="carrito de compras" class="search-bar__carrito-container__icon">
            </a>          </div>
          <div class="menu-toogle">
            <label for="menu" class="menu-toogle__label">
              <span class="menu-toogle__top-bread"></span>
              <span class="menu-toogle__meat"></span>
              <span class="menu-toogle__bottom-bread"></span>
            </label>
          </div>
          <!-- MAIN -->
      </header>
      <div class="main__titulo">Llene este formulario para contactarnos</div>
          <main class="main-contacto">
            <legend class="main-contacto__legend">Datos personales</legend>
          <div class="form__container">
            <form action="get" class="form-contacto">
              <label class="form-contacto__label">
                <p>Nombre:*</p>
                <input type="text" name="Nombre" id="Nombre-lbl" class="form-contacto__input" required>
              </label>
              <label class="form__label">
                <p>Email:*</p>
                <input type="text" name="email" id="email-lbl" class="form-contacto__input" required>
              </label>
              <label class="form__label" for="textarea">
                <p>¿Por qué quieres contactarnos?</p>
              </label>
              <textarea name="contactarnos" id="textarea" cols="90" rows="10" class="form-contacto__textarea" required></textarea>
                <button class="form-contacto__button">Enviar</button>
              </form>
          </div>
        </div>
    </main>
    <div class="mapa">
      <h2 class="mapa__h2">Para cualquier consulta</h2>
      <p class="mapa__p">Pueden visitarnos de manera personal a nuestras oficinas en:</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5232.256321233588!2d-73.98693468416711!3d40.74990995529902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire%20State%20Building!5e0!3m2!1ses-419!2scl!4v1717529050891!5m2!1ses-419!2scl" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa__iframe">
      </iframe>
    </div>
    <footer class="footer">
      <div class="footer__contenedor">
        <h2 class="footer__contenedor__h2">Siguenos en nuestras redes</h2>
        <a href="https://www.instagram.com/tomas_marcos_2019/"><img src="/public/img/svg-icons/ig.svg" alt="Instagram icono" class="footer__iconos footer__iconos__1"></a>
        <a href="https://www.facebook.com/profile.php?id=61553549864608"><img src="/public/img/svg-icons/facebook.svg" alt="Facebook icono" class="footer__iconos footer__iconos__2"></a>
        <a href="https://www.linkedin.com/in/tom%C3%A1s-marcos-1a7107257/"><img src="/public/img/svg-icons/linkedin.svg" alt="Linkedin icono" class="footer__iconos footer__iconos__3"></a>
        <hr class="footer__contenedor__hr">
        <div class="footer__contenedor__acerca-de">
          <p class="footer__contenedor__acerca-de__a">Acerca de:</p>
          <a href="https://www.infobae.com/realidad-aumentada/2024/04/01/la-vida-en-marte-sera-posible-un-descubrimiento-abre-la-esperanza-y-esconde-un-enigma/" class="footer__contenedor__acerca-de__a">Vida en Marte</a>
          <a href="https://www.infobae.com/salud/ciencia/2019/05/30/la-nasa-hallo-en-pluton-un-elemento-clave-para-que-haya-vida-extraterrestre/" class="footer__contenedor__acerca-de__a">Vida en Pluto</a>
        </div>
      </div>
    </footer>
  
    <script type="module" src="/main.js"></script>
</body>
</html>