<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros - Proyecto integrador</title>
</head>

<body class="body-nosotros">
  <header class="main-header">
    <input type="checkbox" id="menu">
    <nav class="nav-bar">
      <ul class="nav-bar__nav-list">
        <li class="nav-bar__nav-item">
          <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/alta.html" class="nav-bar__nav-link">Alta</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/contacto.html" class="nav-bar__nav-link">Contacto</a>
        </li>
      </ul>
    </nav>

    <div class="search-bar">
      <div class="search-bar__logo-container">
        <img src="/img/Qui-videt-logo.png" alt="Qui Videt logo" class="search-bar__logo">
      </div>
      <form action="#" class="search-bar__form-container">
        <input type="search" class="search-bar__form-search" id="busqueda" placeholder="Buscá tus productos aquí">
        <input type="submit" class="search-bar__form-submit" value="">
      </form>
      <div class="search-bar__carrito-container">
        <a href="carrito.html">
          <img src="/img/svg-icons/cart.svg" alt="carrito de compras" class="search-bar__carrito-container__icon">
        </a>
      </div>
      <div class="menu-toogle">
        <label for="menu" class="menu-toogle__label">
          <span class="menu-toogle__top-bread"></span>
          <span class="menu-toogle__meat"></span>
          <span class="menu-toogle__bottom-bread"></span>
        </label>
      </div>
  </header>
  <!-- MAIN -->
  <main class="main-nosotros">
    <div class="contenedor-nosotros">
      <div class="contenedor-nosotros__parrafos">
        <div class="contenedor-nosotros__primer-parrafo">
          <h1 class="contenedor-nosotros__titulos  contenedor-nosotros__titulos__1">¿Quiénes somos?</h1>
          <img src="/img/trabajadores-1.jpg" alt="Trabajadores hablando" class="contenedor-nosotros__imagenes  contenedor-nosotros__imagenes__1">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At officiis facilis delectus blanditiis nam
            velit, voluptatum eius itaque, repudiandae veniam in impedit tempore, necessitatibus vero nobis eaque et
            harum esse incidunt natus illo ratione debitis pariatur? Quaerat repellat molestias, ea voluptas
            voluptatum excepturi accusamus amet reiciendis impedit sed maiores optio.</p>
        </div>
        <div class="contenedor-nosotros__segundo-parrafo">
          <h2 class="contenedor-nosotros__titulos contenedor-nosotros__titulos__2">¿Cuál es nuestro objetivo?</h2>
          <img src="/public/img/Bola-de-plasma.jpg" alt="bola de plasma"
          class="contenedor-nosotros__imagenes  contenedor-nosotros__imagenes__2">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, maiores quibusdam? Laborum, qui
            adipisci! Nam optio inventore omnis qui atque amet reprehenderit libero, voluptatem nulla odit, deserunt,
            excepturi debitis. Eius voluptatum placeat, temporibus repudiandae quas enim sed explicabo modi, repellat
            voluptate libero, a eligendi illum perferendis sint veniam at vero aliquid aperiam ipsam? Alias velit
            soluta harum eius, ut sint!</p>
        </div>
        <div class="contenedor-nosotros__tercer-parrafo">
          <h2 class="contenedor-nosotros__titulos contenedor-nosotros__titulos__3">Q&A</h2>
          <img src="/public/img/trabajador-1.png" alt="Trabajador con smoking"
            class="contenedor-nosotros__imagenes  contenedor-nosotros__imagenes__3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, modi asperiores dolore impedit, eos
            ducimus autem velit tempora quis expedita aspernatur dolorem unde veniam repellat soluta dolor tempore
            eveniet rem. Impedit nesciunt nulla autem. Enim, dolorem ex, distinctio aperiam, nisi est error iure earum
            quo dolorum nobis vel nam repellendus aliquid dolore quia vero esse commodi. Mollitia omnis esse magnam
            optio nesciunt sed a, repudiandae facilis nisi, fuga quaerat totam illum in debitis molestiae minima
            doloremque consequuntur dolore beatae laudantium obcaecati?</p>
        </div>
      </div>

    </div>
  </main>
  <footer class="footer">
    <div class="footer__contenedor">
      <h2 class="footer__contenedor__h2">Siguenos en nuestras redes</h2>
      <a href="https://www.instagram.com/tomas_marcos_2019/"><img src="/public/img/svg-icons/ig.svg" alt="Instagram icono" class="footer__iconos footer__iconos__1"></a>
      <a href="https://www.facebook.com/profile.php?id=61553549864608"><img src="/public/img/svg-icons/facebook.svg" alt="Facebook icono" class="footer__iconos footer__iconos__2"></a>
      <a href="https://www.linkedin.com/in/tom%C3%A1s-marcos-1a7107257/"><img src="/public/img/svg-icons/linkedin.svg" alt="Linkedin icono" class="footer__iconos footer__iconos__3"></a>
      <hr class="footer__contenedor__hr">
      <div class="footer__contenedor__acerca-de">
        <p class="footer__contenedor__acerca-de__a">Acerca de:</p>
        <a href="https://www.infobae.com/realidad-aumentada/2024/04/01/la-vida-en-marte-sera-posible-un-descubrimiento-abre-la-esperanza-y-esconde-un-enigma/" class="footer__contenedor__acerca-de__a">Vida en Marte</a>
        <a href="https://www.infobae.com/salud/ciencia/2019/05/30/la-nasa-hallo-en-pluton-un-elemento-clave-para-que-haya-vida-extraterrestre/" class="footer__contenedor__acerca-de__a">Vida en Pluto</a>
      </div>
    </div>
  </footer>

  
  <script type="module" src="/main.js"></script>
</body>

</html>