.body-alta{
    background-image: url(/img/gif-fondo-1.gif);
    background-position: center;
    background-size: cover;
}
@media(max-width:576px){
    .contenedor-alta{
        width: 100%;
        height: 1rem;
       
        text-align: center;
        align-items: center;
        font-size: 1rem;
        position: relative;
        text-shadow: 6px 2px 5px rgba(0,0,0,0.56);
        margin-top: 2rem;
        margin-bottom: 5rem;
        color: white;

    }
    .main-alta{
        width: 100%;
        height: 75%;
        gap: 1rem;
        border-radius: 2rem;
        display: flex;
        flex-wrap: wrap;
        margin: 20px auto;
        text-align: center;
        gap: 1rem;
        justify-content: center;
        font-size: 1.2rem;
        background-image: linear-gradient(27deg,#dddddd, #FFFF);

        &__legend{
            display: flex;
            flex-direction: column;
            align-self: center;
            font-size: 1.4rem;
            padding: 1rem;
        }
    }
    .form-alta{

        display: flex;
        flex-direction: column;

        &__label{
            margin-top: .5rem;
        }
        &__input{
            align-self: center;
            width: 100%;
            height: 2rem;
            border-radius: 2rem;
            margin: .5rem;
            margin-top: 2rem;
         }
        &__textarea{
            align-self: center; 
            width: 90%;
            height: 50%;
            border-radius: 1.2rem;
            margin: .5rem;
        }
    
        &__boton{
            align-self:center;
            font-size: 1.3rem;
            margin:1rem;
            width: 70%;
            padding: .7rem;
            margin-top: 3rem;
            background-color: #D63D01;
            border-radius: 1.5rem;

        }
        //FOCUS
        &__input:focus{
            background-image: radial-gradient( white,#fcf5ff);
            color: black;
          }
          &__textarea:focus{
            background-image: radial-gradient( white,#fcf5ff);
            color: black;
          }
          &__button:focus{
            background-color:#A32E00;
          }
    }
}
@media (min-width:576px) {
    .main-alta{
        width: 75%;
        height: 100%;
        gap: 1rem;
        margin: 20px auto;
        text-align: center;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        &__legend{
           
            font-size: 2rem;
            padding-top: 1rem;
        }
    }
    .contenedor-alta{
        display: flex;
        width: 100%;
        &__h1{
            text-align: center;
            width: 100%;
        }
    }
    
    
    .form-alta{
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(27deg,#dddddd, #FFFF);
        border-radius: 1.8rem;
        &__lbl{
            margin-top: 2rem;
        
        }
        &__input{
            align-self: center;
            width: 90%;
            height: 2rem;
            border-radius: 2rem;
            margin: 1.5rem;
         }
        &__textarea{
            align-self: center; 
            width: 90%;
            height: 50%;
            border-radius: 1.2rem;
            margin: 2rem;
        }
    
        &__boton{
            
            align-self:center;
            font-size: 1.17rem;
            margin-bottom: 1rem;
            width: 45%;
            padding: .8rem;
            background-color: #D63D01;
            border-radius: 1.5rem;
    
        }
        &__imagen{
            border: 1px solid rgb(32, 32, 32);
        }
        //FOCUS
        &__input:focus{
            background-image: radial-gradient( white,#fcf5ff);
            color: black;
          }
          &__textarea:focus{
            background-image: radial-gradient( white,#fcf5ff);
            color: black;
          }
          &__button:focus{
            background-color:#A32E00;
          }
    
    }
}
