.section-cards{
    transition: background-image 1s ease-in-out;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    position: static;
    width: 100%;
    transition: background-image 1s ease-in-out;
    //background: linear-gradient(0deg,#000000 0%, #1B2838 99%);
}