.section-cards{
    transition: background-image 1s ease-in-out;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    position: static;
    width: 100%;
    transition: background-image 1s ease-in-out;
    //background: linear-gradient(0deg,#000000 0%, #1B2838 99%);
}
// CARROUSEL DE IMAGENES
@media(min-width:768px){
.carousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:3rem;
  margin-bottom:3rem;

  width: 100%;
  &__titulo{
    color: rgb(235, 235, 235);
    margin-bottom: 2rem;
  }
  &__sponsors{
    width: 86%;
    height: 30rem;
  }
}
}